.title {
    font-size: 1.5rem;
    color: #dcddde;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .dateContainer {
    text-align: center;
    font-size: 1rem;
    color: #8e9297; /* A muted color to not overpower the title */
    margin-bottom: 1rem; /* Some space between the date and the rest of the content */
    padding: 0.5rem;
    border-radius: 4px;

  }
  
  /* Add a hover effect for interactivity */
  .dateContainer:hover {
    color: #f4f5f5;
    transition: color 1s ease;
  }
  